@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");
body {
  background-color: #ccd4e6;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  display: flex;
  font-size: 2em;
  justify-content: center;
  margin: 20px 20px 20px 20px;
  font-family: "Pangolin", cursive;
  border: 5px solid black;
}

h2 {
  display: flex;
  font-size: 1.5em;
  justify-content: center;
  padding-top: 40px;
  font-family: "Pangolin", cursive;
}

p {
  font-size: 20px;
  margin: 0 20px 20px 20px;
  font-family: "Pangolin", cursive;
}

.description {
  padding-top: 30px;
  padding-left: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border: 5px solid black;
  border-width: medium;
}

.buttons {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 100px;
}

button {
  padding: 20px;
  border-style: groove;
  border-radius: 8px;
  background-color: #d4d6fc;
}

.login {
  padding-right: 25px;
}

.register {
  padding-left: 25px;
}
