.Login_name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 80px 20px 80px;
}

.Login_password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 80px 20px 80px;
}

.LoginPageButton {
  margin-left: 80px;
  padding: 5px;
}

.goBackButton {
  margin-left: 20px;
  padding: 5px;
}
