ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

li {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logged-in {
    display: flex;
    padding-bottom: 10px;
    padding-right: 20px;
    justify-content: flex-end;
}

.logout-button {
    padding: 5px
}

.add-new-subscription {
    display: flex;
    padding-left: 60px;
    justify-content: flex-start;
}

.addSubscriptionButton {
    display: flex;
    justify-content: flex-start;
}



